In [2]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [20]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [22]:
df = next(df_iter)

In [24]:
len(df)

100000

In [25]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [27]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

0

In [30]:
from time import time
for item in df_iter:
    t_start = time()
    
    item.tpep_pickup_datetime = pd.to_datetime(item.tpep_pickup_datetime)
    item.tpep_dropoff_datetime = pd.to_datetime(item.tpep_dropoff_datetime)
    
    item.to_sql(name='yellow_taxi_data', con=engine, if_exists="append")
    
    t_end = time()
    print("inserted another chunk... took %.3f second" % (t_end - t_start))

inserted another chunk... took 21.094 second
inserted another chunk... took 19.358 second
inserted another chunk... took 28.981 second
inserted another chunk... took 19.957 second
inserted another chunk... took 22.973 second
inserted another chunk... took 22.532 second
inserted another chunk... took 21.693 second
inserted another chunk... took 30.203 second
inserted another chunk... took 20.761 second

/var/folders/2k/w75b0p7x5cnb1ktyx9bs28lm0000gn/T/ipykernel_82481/2562834682.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for item in df_iter:

inserted another chunk... took 19.326 second
inserted another chunk... took 12.383 second

In [28]:
zones = pd.read_csv("taxi_zone_lookup.csv")

In [29]:
zones.to_sql(name="zones", con=engine, if_exists='replace')

265